.navbar {
    background-color: #a9db73;
}

.quem-sou {
    background-color: #8181F7;
}

.margin{
    
    padding-bottom: 30px;
    padding-top: 10px;
}
.esperanca {
    background-color: rgb(112, 173, 62);
}

.bg-footer {
    background-color: cadetblue;
    color: white;
}